<!DOCTYPE html>
<html ng-app="playchaser.index">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Playchaser</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="img/appicon64.png">
        <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="img/appicon144.png">
        <link rel="apple-touch-icon" sizes="114x114" type="image/png" href="img/appicon114.png">
        <link rel="apple-touch-icon" sizes="72x72" type="image/png" href="img/appicon72.png">
        <link rel="apple-touch-icon" sizes="57x57" type="image/png" href="img/appicon57.png">
        <link rel="stylesheet" href="lib/angular-material-1.0.0-rc3/angular-material.min.css">
        <link rel="stylesheet" href="lib/font-awesome-4.3.0/css/font-awesome.min.css">
        <!-- build:css css/index.min.css -->
        <link rel="stylesheet" href="css/index.css">
        <!-- /build -->
    </head>
    <body ng-controller="pcMainCtrl" layout="column">
        
        <md-toolbar>
            <div class="md-toolbar-tools masthead" layout="row">
              <md-icon md-svg-icon="playchaser"></md-icon>
              <h1 flex>Welcome to Playchaser</h1>
                 <md-menu>
                 <md-button ng-click="$mdOpenMenu()" class="md-fab" aria-label="My Account">
                   <md-icon md-svg-icon="meeple"></md-icon>
                 </md-button>
                 <md-menu-content width="6" id="accountMenu">
                    <md-content layout="column">
                        <md-toolbar layout="row" layout-padding><md-icon md-svg-icon="meeple"></md-icon><h3 flex>{{ player.profile.public.moniker }}</h3></md-toolbar>
                    </md-content>
                    <md-menu-item>
                        <md-button ng-click="player.signOut()">Sign out</md-button>
                    </md-menu-item>
                 </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-content layout="column">
            <div layout="row">
                <md-card flex>
                    <md-card-content>
                        <h2 class="md-title">My Games</h2>
                        <div pc-table-list="gameroom.tables.participating"></div>
                    </md-card-content>
                </md-card>
                <md-card flex>
                    <md-card-content>
                        <h2 class="md-title">All open Games</h2>
                        <div pc-table-list="gameroom.tables.allopen"></div>
                    </md-card-content>
                </md-card>
            </div>
            <md-button ng-click="createGame('tic-tac-toe')">New Tic Tac Toe</md-button>
        </md-content>
        
        <script src="lib/angular-1.4.7/angular.min.js"></script>
        <script src="lib/angular-1.4.7/angular-route.min.js"></script>
        <script src="lib/angular-1.4.7/angular-resource.min.js"></script>
        <script src="lib/angular-1.4.7/angular-animate.min.js"></script>
        <script src="lib/angular-1.4.7/angular-aria.min.js"></script>
        <script src="lib/angular-1.4.7/angular-messages.min.js"></script>
        <script src="lib/angular-material-1.0.0-rc3/angular-material.min.js"></script>
        
        <!-- build:js js/index.min.js -->
        <script src="js/index.js"></script>
        <script src="js/routes.js"></script>
        <!-- /build -->
        
        <!-- build:js js/playchaser.min.js -->
        <script src="js/core/module.js"></script>
        <script src="js/core/gameroom.js"></script>
        <script src="js/core/player.js"></script>
        <script src="js/core/iconregistry.js"></script>
        <script src="js/core/util/websocket.js"></script>
        <script src="js/core/util/session.js"></script>
        <!-- /build -->
        
        <!-- build:js js/environment.js -->
        <script src="js/environment-test.js"></script>
        <!-- /build -->
    </body>
</html>