<!DOCTYPE html>
<html ng-app="playchaser.login">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Playchaser - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="img/icon64.png">
        <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="img/icon144.png">
        <link rel="apple-touch-icon" sizes="114x114" type="image/png" href="img/icon114.png">
        <link rel="apple-touch-icon" sizes="72x72" type="image/png" href="img/icon72.png">
        <link rel="apple-touch-icon" sizes="57x57" type="image/png" href="img/icon57.png">
        <!-- build:css css/login.min.css -->
        <link rel="stylesheet" href="css/login.css">
        <!-- /build -->
    </head>
    <body ng-controller="pcLoginCtrl">
        <div class="header">
            <h1 class="masthead"><span class="playchaser-logo"></span> Playchaser</h1>
        </div>
        <div class="body">
          <form name="loginForm" autocomplete="on" class="login-form" novalidate ng-submit="doLogin(login)">
              <h2>Get Chasing!</h2>
              <div class="loginError" ng-show="errorMessages.login">{{ errorMessages.login }}</div>
              <div ng-class="{'pc-form-error': loginForm.username.$dirty && loginForm.username.$invalid}"><label class="email-label"></label><input name="username" type="email" required placeholder="e-mail address" autofocus ng-model="login.username" ng-model-options="{updateOn: 'blur'}"></div>
              <div ng-class="{'pc-form-error': loginForm.password.$dirty && loginForm.password.$invalid}"><label class="password-label"></label><input name="password" type="password" required placeholder="password" ng-model="login.password"></div>
              <button type="submit" name="submit" value="sign in" ng-disabled="loginForm.$invalid">&nbsp;sign in</button>
          </form>
          <form name="signupForm" autocomplete="on" class="signup-form" novalidate ng-submit="doSignup(signup)">
              <h2>Not a Member?  Sign up Now!</h2>
              <div ng-class="{'pc-form-error': signupForm.uniqueName.$dirty && signupForm.uniqueName.$invalid}"><label class="username-label"></label><input name="uniqueName" required placeholder="choose a username" ng-model="signup.uniqueName" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }" pc-user-available="uniqueName"></div>
              <div ng-class="{'pc-form-error': signupForm.username.$dirty && signupForm.username.$invalid}"><label class="email-label"></label><input name="username" type="email" required placeholder="e-mail address" ng-model="signup.username" ng-model-options="{updateOn: 'blur', debounce : { 'default' : 500, blur : 0 } }" pc-user-available="username"></div>
              <div ng-class="{'pc-form-error': signupForm.password.$dirty && signupForm.password.$invalid}"><label class="password-label"></label><input name="password" type="password" required placeholder="password" ng-model="signup.password"></div>
              <div ng-class="{'pc-form-error': signupForm.repeatPassword.$dirty && signupForm.repeatPassword.$invalid}"><label class="repeat-password-label"></label><input name="repeatPassword" type="password" required placeholder="repeat password" ng-model="signup.repeatPassword" pc-validate-equal="signup.password"></div>
              <button type="submit" name="submit" value="create account" ng-disabled="signupForm.$invalid">&nbsp;create account</button>
          </form>
          <div class="about-playchaser">
              Playchaser is ...
          </div>
        </div>
        <script src="lib/angular-1.3.1/angular.min.js"></script>

        <!-- build:js js/login.min.js -->
        <script src="js/login.js"></script>
        <!-- /build -->
        
    
        
    </body>
</html>