<!DOCTYPE html>
<html ng-app="playchaser.login">
    <head>
        <script>
            if (document.cookie.indexOf('pc.sess=') != -1) {
                window.location = './';
            }
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Playchaser - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="img/appicon64.png">
        <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="img/appicon144.png">
        <link rel="apple-touch-icon" sizes="114x114" type="image/png" href="img/appicon114.png">
        <link rel="apple-touch-icon" sizes="72x72" type="image/png" href="img/appicon72.png">
        <link rel="apple-touch-icon" sizes="57x57" type="image/png" href="img/appicon57.png">
        <link rel="stylesheet" href="lib/angular-material-0.11.1/angular-material.min.css">
        <link rel="stylesheet" href="lib/font-awesome-4.3.0/css/font-awesome.min.css">
        <!-- build:css css/login.min.css -->
        <link rel="stylesheet" href="css/login.css">
        <!-- /build -->
    </head>
    
    <body ng-controller="pcLoginCtrl" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools masthead" layout="row">
              <md-icon md-svg-icon="playchaser"></md-icon><h1 flex>Sign-in to Playchaser</h1>
            </div>
        </md-toolbar>
        <md-content layout-padding layout="column">
            <md-tabs md-center-tabs md-dynamic-height>
                <md-tab>
                    <md-tab-label>Get Chasing!</md-tab-label>
                    <md-tab-body>
                        <div layout="row" layout-align="center start">
                        <md-content layout="column" layout-padding flex="100" flex-gt-md="66" flex-gt-lg="50">
                            <h4>Sign in with your e-mail address and password to get started</h4>
                            <div ng-messages="errors.page" class="pageErrors md-warn">
                                <div ng-message="sessionTimeout">Your session has timed out. Please sign in again.</div>
                            </div>
                            <form name="loginForm" autocomplete="on" novalidate ng-submit="doLogin(login)">
                              <md-input-container class="md-icon-float">
                                <label>E-mail address</label>
                                <md-icon md-font-icon="fa-envelope" class="fa"></md-icon> 
                                <input name="username" type="email" required autofocus ng-model="login.username" ng-model-options="{updateOn: 'blur'}">
                                <div ng-messages="loginForm.username.$error" ng-if='loginForm.username.$dirty'>
                                  <div ng-message="required">Enter your e-mail address to login</div>
                                  <div ng-message="email">Enter a valid e-mail address</div>
                                </div>
                              </md-input-container>
                              <md-input-container class="md-icon-float">
                                <label>Password</label>
                                <md-icon md-font-icon="fa-key" class="fa"></md-icon> 
                                <input name="password" type="password" required ng-model="login.password">
                                <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty'>
                                  <div ng-message="required">Enter your password to login</div>
                                </div>
                                <div ng-messages="errors.login" ng-if='loginForm.password.$valid'>
                                  <div ng-message="invalidLogin">Sign in failed: e-mail address and password do not match</div>
                                  <div ng-message="serverFailure">Sign in failed: the playchaser server is experiencing difficulties</div>
                                </div>
                              </md-input-container>
                              <md-button class="md-raised md-primary" type="submit" name="submit" value="Sign in" ng-disabled="loginForm.$invalid" layout="row" layout-align="center center">
                                <md-icon md-font-icon="fa-lock" class="fa"></md-icon> 
                               <span>Sign in</span>
                             </md-button>
                            </form>
                            <h4>Or, sign in using Facebook or Twitter</h4>
                        </md-content>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Not A Member? Sign up Now!</md-tab-label>
                    <md-tab-body>
                    <div layout="row" layout-align="center start">
                        <md-content layout="column" layout-padding flex="100" flex-gt-md="66" flex-gt-lg="50">
                            <h3>Create an account by entering your information below</h3>
                            <form name="signupForm" autocomplete="on" novalidate ng-submit="doSignup(signup)">
                              <md-input-container class="md-icon-float">
                                <label>Moniker</label>
                                <md-icon md-svg-icon="meeple"></md-icon>
                                <input name="moniker" required ng-model="signup.moniker" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }" pc-check-user-available="moniker">
                                <div ng-messages="signupForm.moniker.$error" ng-if='signupForm.moniker.$dirty'>
                                  <div ng-message="required">Choose a moniker to display as your identity to other players</div>
                                  <div ng-message="pcCheckUserAvailable">That moniker is already in use; choose another</div>
                                </div>
                                <div ng-messages="errors.signup" ng-if='signupForm.moniker.$valid'>
                                    <div ng-message="monikerinuse">That moniker is already in use; choose another</div>
                                </div>
                              </md-input-container>
                              <md-input-container class="md-icon-float">
                                <label>E-mail address</label>
                                <md-icon md-font-icon="fa-envelope" class="fa"></md-icon> 
                                <input name="username" type="email" required autofocus ng-model="signup.username" ng-model-options="{updateOn: 'blur', debounce : { 'default' : 500, blur : 0 } }" pc-check-user-available="username">
                                <div ng-messages="signupForm.username.$error" ng-if='signupForm.username.$dirty'>
                                  <div ng-message="required">Enter your e-mail address to login</div>
                                  <div ng-message="email">Enter a valid e-mail address</div>
                                  <div ng-message="pcCheckUserAvailable">That e-mail address is already registered</div>
                                </div>
                                <div ng-messages="errors.signup" ng-if='signupForm.username.$valid'>
                                    <div ng-message="emailinuse">That e-mail address is already in use; choose another</div>
                                </div>
                              </md-input-container>
                              <md-input-container class="md-icon-float">
                                <label>Password</label>
                                <md-icon md-font-icon="fa-key" class="fa"></md-icon> 
                                <input name="password" type="password" required ng-model="signup.password">
                                <div ng-messages="signupForm.password.$error" ng-if='signupForm.password.$dirty'>
                                  <div ng-message="required">Choose a password to use for playchaser</div>
                                </div>
                              </md-input-container>
                              <md-input-container class="md-icon-float">
                                <label>Confirm Password</label>
                                <md-icon md-font-icon="fa-key" class="fa"></md-icon>
                                <input name="repeatPassword" type="password" required ng-model="signup.repeatPassword" pc-must-equal="signup.password">
                                <div ng-messages="signupForm.repeatPassword.$error" ng-if='signupForm.repeatPassword.$dirty'>
                                  <div ng-message="required">Confirm your password by entering it again</div>
                                  <div ng-message="pcMustEqual">Passwords do not match</div>
                                </div>
                                <div ng-messages="errors.signup" ng-if='signupForm.repeatPassword.$valid'>
                                  <div ng-message="serverFailure">Sign up failed: the playchaser server is experiencing difficulties</div>
                                </div>
                              </md-input-container>
                              <md-button class="md-raised md-primary" type="submit" name="submit" value="Sign in" ng-disabled="signupForm.$invalid" layout="row" layout-align="center center">
                                <md-icon md-font-icon="fa-forward" class="fa"></md-icon>
                               <span>Create Account</span>
                             </md-button>
                            </form>
                        </md-content>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
        <script src="lib/angular-1.4.6/angular.min.js"></script>
        <script src="lib/angular-1.4.6/angular-animate.min.js"></script>
        <script src="lib/angular-1.4.6/angular-aria.min.js"></script>
        <script src="lib/angular-1.4.6/angular-messages.min.js"></script>
        <script src="lib/angular-material-0.11.1/angular-material.min.js"></script>
            
        <!-- build:js js/login.min.js -->
        <script src="js/login.js"></script>
        <!-- /build -->
            
        <!-- build:js js/playchaser.min.js -->
        <script src="js/core/module.js"></script>
        <script src="js/core/home.js"></script>
        <script src="js/core/game.js"></script>
        <script src="js/core/player.js"></script>
        <script src="js/core/iconregistry.js"></script>
        <script src="js/core/util/websocket.js"></script>
        <script src="js/core/util/session.js"></script>
        <!-- /build -->
        
        <!-- build:js js/environment.js -->
        <script src="js/environment-test.js"></script>
        <!-- /build -->
        
    </body> 
</html>