// main branding / colors
@import "_brand";

// font-awesome
@import "_fa";

// other fonts
@import "_carcassonnesymbols";
@import "_junction";
@import "_prociono";

// basic styling
body {
	font-family: @font-family-base;
}

h1,h2,h3,h4,h5,h6 {
	font-family: @font-family-headings;
	font-weight: @font-weight-headings;
}
