// main branding / colors
@import "brand";

// bootstrap
$brand-primary:         $pc-brand-color-primary-1;
$brand-success:         $pc-brand-color-complimentary-1;
$brand-warning:         $pc-brand-color-secondary-a-1;
$brand-danger:          $pc-brand-color-primary-3;
$brand-info:            $pc-brand-color-secondary-b-1;

// Core variables and mixins
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/variables";
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/mixins";

// Reset and dependencies
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/normalize";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/print";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/glyphicons";

// Core CSS
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/scaffolding";
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/type";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/code";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/grid";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/tables";
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/forms";
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/buttons";

// Components
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/component-animations";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/dropdowns";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/button-groups";
@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/input-groups";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/navs";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/navbar";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/breadcrumbs";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/pagination";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/pager";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/labels";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/badges";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/jumbotron";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/thumbnails";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/alerts";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/progress-bars";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/media";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/list-group";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/panels";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/responsive-embed";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/wells";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/close";

// Components w/ JavaScript
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/modals";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/tooltip";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/popovers";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/carousel";

// Utility classes
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/utilities";
//@import "../lib/bootstrap-sass-3.1.1/sass/bootstrap/responsive-utilities";

// font-awesome - the custom version
$fa-font-path: "../lib/font-awesome-4.1.0/fonts";
@import "../lib/font-awesome-4.1.0/scss/variables";
@import "../lib/font-awesome-4.1.0/scss/path";

@mixin fa-icon($icon-variable) {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon-variable;
}



