// main branding / colors
@import "_brand";

// fonts
@import "_junction";
@import "_prociono";

// basic styling
body {
	font-family: @font-family-base;
}

h1,h2,h3,h4,h5,h6 {
	font-family: @font-family-headings;
	font-weight: @font-weight-headings;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

md-tab-item {
	font-family: @font-family-headings;
}

.md-font.fa {
	padding-top: 4px;
}

md-input-container.md-icon-float {
	div[ng-message] {
		  margin-left: 36px;
	}
}