@import "_common";

.masthead {
    font-family: @font-family-headings;
	font-weight: @font-weight-headings;
}

button.md-button {
	margin-left: 0; 
}

.pageErrors {
	color: red;
	div[ng-message] {
		margin-bottom: 1em;
	}
}